body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol,
ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background-color: #ffebcd !important;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.list-step {
  width: 100px;
  height: 33px;
  border: 1px solid #778899;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  right: 24px;
  cursor: pointer;
  margin-top: 7px;
}
.current-step {
  font-weight: bold;
  width: 55px;
  height: 23px;
  border: 1px solid #778899;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  right: 24px;
  cursor: pointer;
}
.highlight-winner {
  color: red;
}
.font-bold {
  font-weight: bold;
}
